<!DOCTYPE html>
<html>
<head>
	<title>Whatever</title>
	<link rel="stylesheet" href="app.css">
</head>
<body>
	<div id="root"></div>
	<div id="bootstrapped-data">
		<%= JSON.stringify(whatever) %>
	<div>
	<script src="app.js"></script>
</body>
</html>